@charset "UTF-8";
@import "magellan.css";
@import "tiles.css";

body {
    background-color: white;
    font-family: "Arial", "Verdana", "Helvetica", sans-serif;
    font-size: 14pt;
}

body > header {
    background-color: white;
    color: black;
    width: 100%;
}

body > footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
