@charset "UTF-8";
@import "snackbar.css";
@import "tiles.css";

body {
    background-color: white;
    font-family: "Arial", "Verdana", "Helvetica", sans-serif;
    font-size: 14pt;
}

body > header {
    background-color: white;
    color: black;
    width: 100%;
}

body > footer {
  background-color: #915c00;
  bottom: 0;
  color: #eee;
  left: 0;
  padding: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
}

body > main {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

#header {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

#navbar {
    background-color: #915c00;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

#navbar button {
    background: none;
    border: none;
    color: #eee;
    font-size: 16pt;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}